[color]
	ui = true

[alias]
	h = help
	s = svn
	k = !gitk

	a = add
	b = branch
	d = diff
	f = fetch
	g = grep
	i = init
	l = log
	m = merge
	r = remote
	t = tag
	ap = a -p
	bs = bisect
	ca = ci --amend
	cc = ca --no-edit
	ci = commit -v
	co = checkout
	cp = cherry-pick
	dw = d --color-words
	dc = d --color-words="." # minimal diff (charwise)
	ff = merge --ff-only
	lg = ll --graph
	lk = lg --decorate
	ll = l --oneline #--decorate
	ln = l --name-status
	lp = l -p
	ls = l --stat
	pl = pull
	ps = push
	rb = rebase
	sh = show
	sl = shortlog
	st = status -sb
	ui = gui
	wc = whatchanged
	cfg = config
	fix = ci --fixup
	pop = stash pop
	psf = ps --force-with-lease
	psu = ps -u
	rba = rb -i --autosquash
	ref = reflog
	sub = submodule
	#top = log --oneline --decorate -n10
	#top = !sh -c 'git log --oneline --decorate -n${1:-10}' -
	todo = "!f() { git d \"${1:-origin}...\" | grep -i TODO; };f"
	top = "!f() { \
		n=${1:-10}; \
		test \"$1\" && shift; \
		git ll --decorate -n$n \"$@\"; \
		}; f"
	wcp = wc -p
	head = ll -1 --shortstat HEAD
	stat = d --stat
	amend = ci --amend
	sstat = d --shortstat
	lstat = l --stat
	serve = daemon --verbose --reuseaddr --export-all \
		--base-path=. ./.git
	serve-bare = daemon --verbose --reuseaddr --export-all \
		--base-path=. .
	add-commit = "!git add -A; git commit"
	mt = mergetool
	cooking = "!f() { \
		b=\"${1:-HEAD}\"; \
		git b --no-merged \"$b\" | grep -v '^\\*'; \
		}; f"
	last = "!f() {\n  git ref | awk '/checkout: moving from/ && !seen[$NF]++ {print $NF}' | head \"-${1:-8}\";\n}; f \"$@\""

[user]
	name = Daniel Knittl-Frank
	email = knittl89+git@googlemail.com
	signingkey = C3624F037705427ADE61C971AD815381D46337FA

[sendemail]
	from=Daniel Knittl-Frank <knittl89+git@googlemail.com>
	#from=Daniel Knittl-Frank <knittl89@googlemail.com>
	smtpEncryption=tls
	smtpServer=smtp.gmail.com
	smtpUser=knittl89+git@googlemail.com
	smtpServerPort=587

[push]
	default = tracking
[mergetool]
	keepBackup = false
[gui]
	commitmsgwidth = 72
[column]
	ui = auto,dense
[core]
	excludesfile = /home/knittl/.gitignore
	editor = vim
	commitGraph = true

[pager]
	status = true
[color "grep"]
	filename = yellow
[advice]
	ignoredHook = false
[gc]
	writeCommitGraph = true
[push]
	default = current
[rebase]
	autostash = true
